/* @import url('./styles/colors.css'); */
.text-color {
  color: var(--color-blue-5);
  font-size: var(--h1-font-size);
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.button-small {
  padding: var(--spacing-s0) var(--spacing-s14);
  border-radius: var(--radius-s2);
  min-height: 30px;
  min-width: 4.18945rem;
  background-color: var(--color-blue-6);
  color: var(--color-gray-0);
}
